.header {
    display: flex;
    grid-area: header;
    background: linear-gradient(270deg,#3e3eee, #dd9a9a);

    transition:all background .2s linear;

}
.header:hover {
    background: linear-gradient(270deg,#dd9a9a,#3e3eee );
}
.logo {
margin-right: auto;
    margin-left: auto;
    width: 50px;
}
.loginBlock {
    float: right;
    margin-right: 20px;
}
.link {
color: #deebf8;
    text-decoration: none;
    transition: all .2s ease-out;
}
.link:hover {
   color: black;
}